:host {
  display: flex;
  flex-direction: column;
  height: 100%;

  div.main {
    h1 {
      margin: 0;
    }

    div.page-text {
      font-size: 1.1rem;
    }

    div.page-picture {
      padding: 1rem;
    }

    div.page-question {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  footer {
    display: flex;

    button {
      flex: 1 0 auto;
      margin: .1rem;
    }
  }

  div.main-letter {

    div.page-text {
      color: #000;
      background: #F5F5DC;
      border: 1px solid #000;
      text-align: justify;
      padding: .2rem;
    }
  }
}
