@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "styles/variables.scss";

@font-face {
  font-family: 'PartyByTom';
  src: url(assets/fonts/party.ttf) format('truetype');
}

@font-face {
  font-family: 'Fragmentcore';
  src: url(assets/fonts/Fragmentcore.otf) format('opentype');
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: 'Fragmentcore', sans-serif;
  background: $background;
  color: $text;
  font-size: 1.2rem;
}

h1 {
  font-family: 'PartyByTom', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  color: $title;
}

div.main {
  flex: 1 0 auto;
  padding: .5rem;
  text-align: center;
}

footer {
  text-align: right;
  padding: 1rem;
}
