<header>
  <h1>Joyeux Anniversaire Piou-Piou!!!</h1>
</header>
<div class="main">
  <div>
    Aujourd'hui c'est ton anniversaire... A jour exceptionnel, aventure exceptionnelle!
  </div>
  <div *ngIf="currentIndex > 0" @insertTrigger>
    En effet, pour savourer dignement cette soirée et profiter de tes cadeaux, il va falloir travailler :)
  </div>
  <div *ngIf="currentIndex > 1" @insertTrigger>
    Prépare toi à vivre une aventure pleine de rebondissements et de magie, avec à la clé, peut être un cadeau bien mérité!!!
  </div>
  <div *ngIf="currentIndex > 2" @insertTrigger class="last-message">
    C'EST PARTI!!!
  </div>
</div>
<footer>
  <button mat-fab (click)="onShowNext()" *ngIf="currentIndex < 3">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </button>
  <button mat-fab *ngIf="currentIndex > 2" [routerLink]="['/page/reveil']">
    GO
  </button>
</footer>
